@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .outer-btn {
    @apply relative z-[1] overflow-hidden border rounded-3xl transition-all duration-[400ms] 
    ease-[ease];
  }

  .outer-btn-before {
    @apply before:absolute before:size-20 before:z-[1] before:-top-20 before:bg-theme-color before:rounded-full hover:before:-top-4 hover:before:scale-[2] hover:before:-z-[1] before:transition-all before:duration-[400ms] before:ease-[ease];
  }
}

:root {
  --theme-color: #ff6b00;
  --theme-light-color: #fff0e5;
  --sec-color: #ffc42e;
  --theme-gray: #6a6a6a;
  --theme-black: #111111;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

::selection {
  background-color: var(--theme-color);
  color: white;
}

.active {
  color: var(--theme-color);
  border-color: white;
}

